/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-weight: 400;
}

.fs-1 {
  font-size: 40px;
}

.fs-2 {
  font-size: 32px;
}

.fs-3 {
  font-size: 28px;
}

.fs-4 {
  font-size: 24px;
}

.fs-5 {
  font-size: 20px;
}

.fs-6 {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
  }
  .fs-3 {
    font-size: 20px;
  }
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  color: #3B3B3B;
}

.container {
  max-width: 1296px;
  margin: auto;
  position: relative;
}

span.mark {
  position: relative;
  z-index: 1;
}
span.mark::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 8px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

nav {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  padding: 32px;
  border-bottom: 1px solid #F1F1F1;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
nav .ham {
  display: none;
}
nav .logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin: auto;
  color: #000;
}
nav ul li a {
  padding: 4px 8px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
nav ul li a:hover {
  font-weight: 600;
}
nav ul li a:hover span:nth-child(1) {
  left: 0;
  top: 0;
  border-left-style: solid;
  border-top-style: solid;
}
nav ul li a:hover span:nth-child(2) {
  right: 0;
  top: 0;
  border-right-style: solid;
  border-top-style: solid;
}
nav ul li a:hover span:nth-child(3) {
  right: 0;
  bottom: 0;
  border-right-style: solid;
  border-bottom-style: solid;
}
nav ul li a:hover span:nth-child(4) {
  left: 0;
  bottom: 0;
  border-left-style: solid;
  border-bottom-style: solid;
}
nav ul li a.active {
  font-weight: 600;
}
nav ul li a.active span:nth-child(1) {
  left: 0;
  top: 0;
  border-left-style: solid;
  border-top-style: solid;
}
nav ul li a.active span:nth-child(2) {
  right: 0;
  top: 0;
  border-right-style: solid;
  border-top-style: solid;
}
nav ul li a.active span:nth-child(3) {
  right: 0;
  bottom: 0;
  border-right-style: solid;
  border-bottom-style: solid;
}
nav ul li a.active span:nth-child(4) {
  left: 0;
  bottom: 0;
  border-left-style: solid;
  border-bottom-style: solid;
}
nav ul li a span {
  width: 8px;
  height: 8px;
  display: block;
  border-color: #919191;
  border-width: 1px;
  position: absolute;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header {
  margin-top: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
header .about h2 {
  margin-bottom: 24px;
  font-size: 40px;
}
header .about .fs-5 {
  color: #5B5B5B;
  margin-bottom: 16px;
}
header .about .fs-5 br {
  display: none;
}
header .about .fs-5 span.mark {
  padding: 0 8px;
}
header .about .fs-6 {
  color: #C1C1C1;
  margin-bottom: 60px;
}
header .about .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
header .about .social a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
header .about .social a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header .pic {
  width: 60%;
  overflow-x: hidden;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}
section .s-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
section .s-title span {
  width: 100px;
  height: 6px;
}
section .s-title span:first-child {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-lg.png?raw=true);
  margin-right: 16px;
}
section .s-title span:last-child {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-lg.png?raw=true);
  margin-left: 16px;
}

.btn-1 {
  background-color: #000;
  border-radius: 5px;
  padding: 16px 32px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
}
.btn-1 i {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-1:hover i {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.works {
  padding-bottom: 0;
}
.works .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 55px;
}
.works .work {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.works .work.work-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true);
}
.works .work.work-1 .work-cover {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.works .work.work-2 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(10, 16, 19, 0.5)), color-stop(50%, rgba(10, 16, 19, 0)), to(rgba(10, 16, 19, 0))), url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true);
  background-image: linear-gradient(to right, rgba(10, 16, 19, 0.5) 50%, rgba(10, 16, 19, 0) 50%, rgba(10, 16, 19, 0)), url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true);
}
.works .work.work-2 .work-cover {
  display: none;
}
.works .work.work-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 12, 7, 0.5)), to(rgba(13, 12, 7, 0.5))), url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true);
  background-image: linear-gradient(rgba(13, 12, 7, 0.5), rgba(13, 12, 7, 0.5)), url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true);
}
.works .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 24px;
  padding: 80px 40px 56px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 200px 0;
  max-width: 526px;
}
.works .info .top {
  border-bottom: 1px solid #fff;
  padding-bottom: 40px;
  margin-bottom: 40px;
  width: 100%;
}
.works .info h3, .works .info p {
  color: #fff;
}
.works .info h3 {
  margin-bottom: 8px;
}
.works .info p {
  margin-bottom: 24px;
}
.works .info .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.works .info .tags span {
  display: inline-block;
  background-color: #fff;
  border-radius: 16px;
  padding: 4px 12px;
}

.services {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-services-bg.png?raw=true);
  text-align: center;
}
.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 24px;
  margin-bottom: 80px;
}
.services ul li {
  width: 306px;
  height: 306px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/service-item-bg.png?raw=true);
  border-radius: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.services .fs-3 {
  margin-bottom: 40px;
  font-weight: 600;
}

.article .swiper {
  margin-bottom: 40px;
}
.article-slide a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.article-slide a:hover .article-cover img {
  -webkit-transform: translateX(-50%) scale(1.1);
          transform: translateX(-50%) scale(1.1);
}
.article-slide .article-cover {
  overflow: hidden;
  border-radius: 8px;
}
.article-slide .article-cover img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.article-slide p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.article-slide p span:first-child {
  background-color: #F1F1F1;
  border-radius: 16px;
  padding: 4px 12px;
}
.article-pagination {
  position: relative;
}
.article-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 8px !important;
  background-color: #E9E9E9;
  opacity: 1;
}
.article-pagination .swiper-pagination-bullet-active {
  background-color: #000;
}
.article .more {
  display: none;
}

footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true);
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
footer .left a {
  color: #919191;
}
footer .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
footer .right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px solid #C1C1C1;
  border-radius: 8px;
  padding: 8px 24px;
  gap: 8px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
footer .right a path {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  fill: #5B5B5B;
}
footer .right a:hover {
  color: #fff;
  background-color: #000;
}
footer .right a:hover path {
  fill: #fff;
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

@media screen and (max-width: 1280px) {
  header {
    padding-left: 40px;
  }
  header .pic {
    width: 52%;
  }
  header .pic img {
    max-width: 100%;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .works .work.work-2 .info {
    width: 45%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .works .work .work-cover {
    width: 55%;
  }
  .works .work .work-cover img {
    max-width: 100%;
    max-height: 100%;
  }
  .works .work .info {
    margin: 10% 0;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    padding: 0;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    background-color: #fff;
  }
  nav .container {
    height: 56px;
    padding: 0;
  }
  nav .logo {
    left: 12px;
  }
  nav .ham {
    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
  }
  nav .ham i {
    font-size: 40px;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    background-color: #fff;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    top: 57px;
    gap: 28px;
    padding: 40px 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  nav ul li {
    font-size: 20px;
  }
  nav ul.active {
    opacity: 1;
    pointer-events: all;
  }
  header {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 0;
    margin-top: 56px;
  }
  header .pic {
    width: 100%;
  }
  header .about {
    width: 100%;
    padding: 40px;
    text-align: center;
  }
  header .about .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  section .s-title {
    margin-bottom: 40px;
  }
  .works {
    padding-bottom: 80px;
  }
  .works .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    gap: 24px;
  }
  .works .work:not(:last-child) {
    margin-bottom: 40px;
  }
  .works .work.work-1 {
    background-image: none;
  }
  .works .work.work-1 .work-cover {
    padding-top: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .works .work.work-2 {
    background-image: none;
  }
  .works .work.work-2 .work-cover {
    display: block;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true);
  }
  .works .work.work-2 .info {
    width: 100%;
  }
  .works .work.work-3 {
    background-image: none;
  }
  .works .work.work-3 .work-cover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 12, 7, 0.5)), to(rgba(13, 12, 7, 0.5))), url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true);
    background-image: linear-gradient(rgba(13, 12, 7, 0.5), rgba(13, 12, 7, 0.5)), url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works .work.work-3 .work-cover img {
    max-height: 80%;
  }
  .works .work .work-cover, .works .work .info {
    width: 100%;
  }
  .works .work .work-cover {
    height: 100vw;
    max-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 40px;
    background-position: center center;
    background-size: cover;
  }
  .works .work .info {
    margin: auto;
    max-width: 100%;
    padding: 0;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  .works .work .info .top {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .works .work .info h3 {
    color: #1E1E1E;
  }
  .works .work .info p {
    color: #5B5B5B;
  }
  .works .work .info .tags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works .work .info .tags span {
    background-color: #F1F1F1;
    color: #3B3B3B;
  }
  .services ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .services .fs-3 {
    font-weight: 700;
    margin-bottom: 24px;
  }
  .article .swiper-wrapper {
    display: block;
  }
  .article-slide {
    margin-bottom: 48px;
  }
  .article-slide:nth-child(3) {
    margin-bottom: 40px;
  }
  .article-slide:nth-child(n+4) {
    display: none;
  }
  .article-slide .article-cover img {
    width: 100%;
  }
  .article-pagination {
    display: none;
  }
  .article .more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  section .s-title span {
    width: 56px;
  }
  section .s-title span:first-child {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-sm.png?raw=true);
  }
  section .s-title span:last-child {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-sm.png?raw=true);
  }
  header .about .fs-5 br {
    display: block;
  }
  .btn-1 {
    font-size: 16px;
    font-weight: 700;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  footer .container .left {
    text-align: center;
  }
  footer .container .left .logo img {
    margin: auto;
    width: 120px;
  }
  footer .container .left .fs-5 {
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  .btn-1 {
    font-size: 16px;
  }
  section .s-title {
    font-size: 24px;
    letter-spacing: 0.12rem;
  }
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
  header .about {
    padding: 40px 12px;
  }
  header .about h2 {
    font-size: 32px;
  }
  header .pic img {
    content: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/hero-sm.png?raw=true);
  }
  .works {
    padding-top: 40px;
  }
  .works .work.work-2 .work-cover {
    display: block;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-sm.png?raw=true);
  }
  .works .work .info {
    padding: 0 24px;
  }
  .works .work .info .tags {
    gap: 8px;
  }
  .services h3 {
    margin-bottom: 24px;
  }
  footer {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true);
  }
}